/*  RESPONSIVE  */
@media screen and (max-width: 992px){
    #hamburger{
        display: block;
        float:right;
    }
    .hamburger-class{
        width: 4vw;
        height: 0.5vw;
        background-color: white;
        margin: 6px 0px;
    }
    #nav{
        display:none;       
    }
    #aboutMeBox-text p{
        font-size:1.2vw;
        padding-top:9%;
        margin-left:17%;
    }
    #end-color p{
        padding-top:1%;
    }
}


@media screen and (max-width: 768px){
    #welcome{
        width:80%;
        border-radius:0%;
    }
    #welcome h1{
       font-size:3vw;
    }
    #skills-all{
        margin-top:3%;
        display: flex;
        flex-wrap:wrap;
    }
    .skills-v1{
        width:49.7%;
        border-right:1px solid black;
        border-bottom:1px solid black;
        background-color:rgba(26, 25, 25, 1);
    }
    #header #logo{
        width:40%;
        margin-top:4%;
        margin-left:5%;
        background-color:rgba(26, 25, 25, 0.6);
    }
    #logoPic{
        height:10vw;
    }
    #header #logoPic img{
        width:16.7%;
    }
    #logoText1{
        font-size:0.8vw;
        letter-spacing:3px;
        position:absolute;
        left:21%;
        top:16%;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    }
    #logoText2{
        font-size:0.8vw;
        letter-spacing:2px;
        position:absolute;
        right:7%;
        bottom:20%;
    }
    #skillsTitle h2{
        font-size:3.7vw;
    }
    #skills-all{
        width:70%;
        margin:0px auto;
        margin-top:3%;
    }
    .projectsTitle h2{
        font-size:3.7vw;
    }
    #projects-all{
        width:90%;
        display:flex;
        flex-wrap:wrap;
        background-color:rgba(26, 25, 25, 1); 
    }
    #img-text h2{
        bottom:34.5vw;
        left:21vw;
    }
    #img-text1 h2{
        bottom:34.5vw;
        left:42.3vw;
    }
    #img-text2 h2{
        bottom:13.5vw;
        right:17vw;
    }
    #img-text3 h2{
        bottom:13.5vw;
        right:1.5vw;
    }
    #aboutTitle h2{
        font-size:3.7vw;
    }
    #end-color p{
        padding-top:0.7%;
    }

    #about{
        height:42vw;
        margin-top:3%;
    }
    .Holder{
        width:90%;
    }
    #aboutMeBox{
        height: 30vw;
        width: 60%;
        padding-left:1%;
    }
    #aboutTitle h2{
        padding-top:1%;
    }
    #aboutMeBox-pic{
        width:30%;
    }
    #aboutMeBox-text {
        width: 62%;
    }
    #aboutMeBox-text h2{
        margin-left:1%;
        font-size:1.6vw;
    }
    #aboutMeBox-text p{
        font-size:1.4vw;
        padding-top:10%;
        margin-left:4%;
    }
    #aboutMeBox-social {
        height: 31vw;
        width: 35%;
        margin-top: 3%;
        margin-left: 2%;
        margin-top:4.2%;
    }
    .socialmedia {
        height: 45%;
    }
    .socialmedia h2 {
        padding-top:4%;
        font-size:2.1vw;
    }
    #socialmediabox{
        height:5vw;
        margin-left:15%;
    }
    .mediaicons{
        font-size:2.3vw;
        padding-top:7%;
    }
    #linksicons {
        height: 5vw;
        width: 70%;
        margin-left: 13%;
    }

@media screen and (max-width: 576px){
    .skills-v1{
        width:49.5%;
        border-right:1px solid black;
        border-bottom:1px solid black;
        background-color:rgba(26, 25, 25, 1);
    }
}