/*  RESPONSIVE  */
@media screen and (max-width: 992px){
    #hamburger{
        display: block;
        float:right;
    }
    .hamburger-class{
        width: 4vw;
        height: 0.5vw;
        background-color: white;
        margin: 6px 0px;
    }
    #nav{
        display:none;       
    }
    #aboutMeBox-text p{
        font-size:1.2vw;
        padding-top:9%;
        margin-left:17%;
    }
}


@media screen and (max-width: 768px){
    #welcome{
        width:80%;
        border-radius:0%;
    }
    #welcome h1{
       font-size:3vw;
    }
    #skills-all{
        margin-top:3%;
        display: flex;
        flex-wrap:wrap;
    }
    .skills-v1{
        width:49.7%;
        border-right:1px solid black;
        border-bottom:1px solid black;
        background-color:rgba(26, 25, 25, 1);
    }
    #skillsTitle h2{
        font-size:2.3vw;
    }
    #projectsTitle h2{
        font-size:2.3vw;
    }
    #header #logo{
        width:40%;
        margin-top:4%;
        margin-left:5%;
        background-color:rgba(26, 25, 25, 0.6);
    }
    #logoPic{
        height:10vw;
    }
    #header #logoPic img{
        width:16.7%;
    }
    #logoText1{
        font-size:0.8vw;
        letter-spacing:3px;
        position:absolute;
        left:21%;
        top:16%;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    }
    #logoText2{
        font-size:0.8vw;
        letter-spacing:2px;
        position:absolute;
        right:7%;
        bottom:20%;
    }
    #skillsTitle h2{
        font-size:4vw;
    }
    #skills-all{
        width:70%;
        margin:0px auto;
        margin-top:3%;
    }
    .projectsTitle h2{
        font-size:4vw;
    }

@media screen and (max-width: 576px){
    .skills-v1{
        width:49.6%;
        border-right:1px solid black;
        border-bottom:1px solid black;
        background-color:rgba(26, 25, 25, 1);
    }
}