:root{
    --bela:white;
    --bg:rgba(29,27,27,0.7);
}
*{
    margin:0px;
    padding:0px;
    font-family: 'Raleway', sans-serif;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:var(--bela); }
}  
html{
  scroll-behavior: smooth;
}
.bela{
    color:var(--bela);
}
.relative{
    position:relative;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.mojaBoja{
    background-color:var(--bg);
}
.center{
    display:block;
    margin:0px auto;
}
.text-align{
    text-align:center;
}
.font18{
    font-size:1.8vw;
}
.font2{
    font-size:2vw;
}
.width100{
    width:100%;
}
.height100{
    height:100%;
}
.mt5{
    margin-top:5%;
}
.mt2{
    margin-top:2%;
}
.pt3{
    padding-top:3%;
}
.braon{
    background-color:rgba(48, 35, 12, 0.842);
}
.pt1{
    padding-top:1%;
}
.pb1{
    padding-bottom:1%;
}
.bb1{
    border-bottom:1px solid white;
}
.bt1{
    border-top:1px solid white;
}
.bt4{
    border-top:4px solid white;
}
.novifont{
    font-family: 'Dosis', sans-serif;
}
#header{
    height:47vw;
    background-image:url('../images/4.jpg');
    background-size:cover;
    opacity:0.9;
}
#header #logo{
    width:31%;
    margin-top:4%;
    margin-left:5%;
    background-color:rgba(26, 25, 25, 0.6);
}
#header #logoPic img{
    width:13%;
}
#logoText1{
    font-size:0.6vw;
    letter-spacing:3px;
    position:absolute;
    left:19%;
    top:16%;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}
#logoText2{
    font-size:0.6vw;
    letter-spacing:2px;
    position:absolute;
    right:7%;
    bottom:17%;
}
.cleaner{
    clear:both;
}
#hamburger{
    display:none;
    margin-right:7%;
    cursor: pointer;
}
#nav{
    width:40%;
    margin-right:8%;
    height:4.5vw;
    background-color:rgba(26, 25, 25, 0.6);
}
ul {
    list-style-type: none;
}
a{
    text-decoration:none;
}
#nav ul li{
    padding-top:3%;
    padding-right:10%;
}
#nav ul li a{
    font-size:1.3vw;
}
#active{
    padding-left:14%;
}
#welcome{
    margin-top:18%;
    width:50%;
    padding:1%;
}
#welcome h1{
    letter-spacing:5px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}
#skills{
    padding-bottom:3.4%;
}
#skills-all{
    margin-top:3%;
    display: flex;
    flex-direction: row;
}
.skills-v1{
    width:25%;
    border-right:1px solid white;
    background-color:rgba(26, 25, 25, 1);
}
.skills-v1 img{
    width:40%;
}
.file{
    color:brown;
    width:60%;
}
#projects-all{
    width:85%;
    display:flex;
    flex-wrap:wrap;
    background-color:rgba(26, 25, 25, 1); 
}
.projects-v1{
    width:45.5%;
    border:1px solid black;
    opacity:0.4;
    margin:2% 0% 2% 2.7%;
    filter: blur(1px);
}
.project-height{
    height:18vw;
}
.projects-v1:hover{
    filter:none;
    transition:0.5s;
    opacity: 1;
}
#img-text h2{
    bottom:33vw;
    left:22vw;
}
#img-text1 h2{
    bottom:33vw;
    left:41.7vw;
}
#img-text2 h2{
    bottom:11.7vw;
    right:15vw;
}
#img-text3 h2{
    bottom:11.7vw;
    left:-2vw;
}


#about{
    height:33vw;
}
.Holder{
    width:90%;
}
#aboutMeBox{
    height: 24vw;
    width: 60%;
    padding-left:1%;
}
#aboutTitle h2{
    padding-top:1%;
}
#aboutMeBox-pic{
    width:30%;
}
#aboutMeBox-text {
    width: 70%;
}
#aboutMeBox-text h2{
    margin-left:1.5%;
    font-size:1.4vw;
}
#aboutMeBox-text p{
    font-size:1.3vw;
    padding-top:9.5%;
    margin-left:13%;
}
#aboutMeBox-social {
    height: 24vw;
    width: 35%;
    margin-top: 3%;
    margin-left: 2%;
    margin-top:4.2%;
}
.socialmedia {
    height: 45%;
}
.socialmedia h2 {
    padding-top:4%;
}
#socialmediabox{
    height:5vw;
    margin-left:15%;
}
.mediaicons{
    font-size:2vw;
    padding-top:3%;
}
#end{
    height:4vw;
}
#end-color{
    height:100%;
}
#end-color p{
    padding-top:1.5%;
}
.tw{
    color:lightblue;
}
.fb{
    color:blue;
}
.mm{
    padding-top:1vw;
    padding-left:2.9vw;
}
.sc{
    color:yellow;
}
.insta{
    color:pink;
}

